@import "@material/dialog/mdc-dialog.scss";
@import "@material/textfield/mdc-text-field";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/select/mdc-select";

.text-field-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
